@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To EmailX</h1>
    <p>LamondLu.EmailX is powerful Email Client coded by .NET Core 6.0</p>
</div>
