@model LamondLu.EmailClient.Domain.DTOs.AddEmailConnectorModel

@{
    ViewData["Title"] = "Add";
}

<h1>New Email Connector</h1>


<hr />


<form asp-action="Add">
    <div class="row">

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="EmailAddress" class="control-label"></label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="Type" class="control-label"></label>
            <select asp-items="@Html.GetEnumSelectList(typeof(LamondLu.EmailClient.Domain.Enum.EmailConnectorType))" asp-for="Type" class="form-control"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Server" class="control-label"></label>
            <input asp-for="Server" class="form-control" />
            <span asp-validation-for="Server" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Port" class="control-label"></label>
            <input asp-for="Port" class="form-control" />
            <span asp-validation-for="Port" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" style="padding-top:40px">
            <div class="form-check">
                <input class="form-check-input" asp-for="EnableSSL" /> @Html.DisplayNameFor(model => model.EnableSSL)
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

