@model List<LamondLu.EmailX.Domain.ViewModels.EmailConnectorConfigViewModel>
@using LamondLu.EmailX.Domain.Interface
@using LamondLu.EmailX.Domain.Models
@using LamondLu.EmailX.Domain.ViewModels
@inject IUnitOfWorkFactory unitOfWorkFactory;


@{
    ViewData["Title"] = "Index";

    var firstItem = Model.FirstOrDefault();
    PagedResult<EmailListViewModel> emails = null;

    if(firstItem != null){
        emails = await unitOfWorkFactory.Create().EmailRepository.GetEmails(firstItem.EmailConnectorId, 10, 1);
    }
    
}

<div class="row">
    <div class="col-3">
        <span>Email Connectors</span>
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item active">@item.Name</li>
            }
        </ul>

    </div>
    <div class="col-9">
        @if (emails != null)
        {
            @Html.Partial("_EmailList", emails)
        }
        
    </div>
  </div>