@using LamondLu.EmailX.Domain.Enum
@{
    ViewData["Title"] = "Setting - Email Connectors";
}


@model List<LamondLu.EmailX.Domain.ViewModels.EmailConnectorConfigViewModel>
 
<table class="table">
  <thead>
    <tr>
      <th class="col-2">Name</th>
      <th class="col-4">Email Address</th>
      <th class="col-3">Method</th>
      <th class="col-2">Status</th>
      <th class="col-1">Action</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
    <tr>
      <th scope="row">@item.Name</th>
       <td>@item.EmailAddress</td>
      <td>
        @(item.Type == EmailConnectorType.IMAP ? "IMAP" : "POP3")
      </td>
      <td>@(item.IsRunning?"Running":"Stopped")</td>
      <td>
      <i class="bi bi-arrow-right-square"></i>
        <i class="bi bi-reply"></i>
        <i class="bi bi-reply-all"></i>
      </td>
    </tr>
  }
  
  </tbody>
</table>